.products {
    padding-top: 30px;
    margin-bottom: 90px;
}

.products__container {
    display: grid;
    grid-template-areas:
        "products-1 products-2 products-3 products-4";
    gap: 20px;
}

.products-item {}

._item-products-1 {
    grid-area: products-1;
}

._item-products-1 {
    grid-area: products-2;
}

._item-products-1 {
    grid-area: products-3;
}

._item-products-1 {
    grid-area: products-4;
}

.products-item__image {}

.products-item__img {}

._img-1 {
    background-image: url("/image/products/4.png");
    background-size: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

._img-2 {
    background-image: url("/image/products/1.png");
    background-size: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

._img-3 {
    background-image: url("/image/products/3.png");
    background-size: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

._img-4 {
    background-image: url("/image/products/2.png");
    background-size: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.products-item__content {}

.products-item__title {
    color: rgb(102, 102, 102);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    margin-bottom: 10px;
}

.products-item__subtitle {
    color: rgb(181, 181, 189);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.products-item__text {
    color: rgb(133, 133, 155);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    text-align: left;
    margin-bottom: 20px;
}

.products-item__link {
    display: flex;
    gap: 3px;
    align-items: center;
}

.products-item__link-icon {}

.products-item__link__text {
    list-style-type:none;
    color: rgb(120, 117, 254);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}




@media screen and (max-width: 691px) {
    .products {
        margin-bottom: 60px;
    }

    .products__container {
        display: grid;
        grid-template-areas:
            "products-1 products-2"
            "products-3 products-4";
        gap: 60px;
    }
}

@media screen and (max-width: 581px) {
    .products__container {
        gap: 60px;
    }
}

.products-item__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}


.products-item__text {
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 20px;
}

.products-item__link-icon {}

.products-item__link__text {
    font-size: 20px;
    line-height: 23px;
}

@media screen and (max-width: 321px) {
    .products {
        margin-bottom: 60px;
    }

    .products__container {
        display: grid;
        grid-template-areas:
            "products-1"
            "products-2"
            "products-3"
            "products-4";
        gap: 60px;
    }
    ._img-1 {
        height: 160px;
    }
    
    ._img-2 {
        height: 160px;
    }
    
    ._img-3 {
        height: 160px;
    }
    
    ._img-4 {
        height: 160px;
    }
}